# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
*.env

# ==========================
# Logs
# ==========================
*.log
logs/
uvicorn.log

# ==========================
# IDE / Editor
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/
.eggs/

# ==========================
# Testing / Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Docker
# ==========================
*.pid
*.sock

# ==========================
# Mongo / Local DB Dumps
# ==========================
*.bson
*.json
*.bat
# ==========================
# Temporary Files
# ==========================
tmp/
temp/
*.tmp